.header{
  color: white;
  background-color: #131417;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 1.5vh;
}

.login{
  margin-left: auto;
  text-decoration: none;
  color: white;
}

.links{
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 1vw;
}
.link-item{
  color: white;
  text-decoration: none;
}
